<div class="container">
  <h1>Lists#index</h1>
  <% @lists.each do |list| %>
    <p>
      <%= link_to list.name, list %>
    </p>
  <% end %>
  <h2>Make a new list</h2>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</div>
