<div id=<%= "#{list.name}#{list.id} carousel" %> class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% movies.each_with_index do |movie, index| %>
      <div class="carousel-item <%= "active" if index == 0%>" data-bs-interval="10000">
        <img src="<%= movie.poster_url %>" class="d-block w-100" alt="<%= movie.title %>">
      </div>
    <% end %>
  </div>
</div>
